<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tab</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/assets/css/404.css">
    <script src="/assets/js/404.js" defer></script>
      <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PC9KFJ31NH');
  </script>
</head>

<body>
    <h4 style="color: #ffffff">We ran into an error.</h4>
</body>

</html>