<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equinox V1</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="/assets/css/404.css">
    <script src="/assets/js/404.js" defer></script>
</head>

<body>
    <h4 style="color: #000000">We ran into an error. In the mean time, heres some ads! :)</h4>
    <footer style="margin-top: auto">
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>


    </footer>
</body>

</html>