<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>New Tab</title>
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="/assets/css/games.css" />

	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="/uv/uv.bundle.js"></script>
	<script src="/uv/uv.config.js"></script>

	<script src="/assets/js/index.js" defer></script>
	<script type='text/javascript' src='//pl22191568.profitablegatecpm.com/b6/e0/ec/b6e0ec54dbf936acd1402f566ddcd6c3.js'></script>

	  <!-- Google tag (gtag.js) -->
	  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
	  <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
	
		gtag('config', 'G-PC9KFJ31NH');
	  </script>
	    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1551126437976866"
		crossorigin="anonymous"></script>




</head>

<body>
	<div class="topbar">

		<div class="left-buttons">

			<a id="exit" onclick="exit()" style="display: none">
				<span style="font-weight: bold;">Exit</span>
			</a>
			<a id="homebtn" href="/" class="<%= path === '/' ? 'nav-active' : 'nav-btn' %>"><span>Home</span></a>
			<a href="/a" class="<%= path === '/a' ? 'nav-active' : 'nav-btn' %>"><span>Apps</span></a>
			<a href="/g" class="<%= path === '/g' ? 'nav-active' : 'nav-btn' %>"><span>Games</span></a>
		</div>
		<form id="form" class="center-form" style="margin-top: 15px">
			<input autofocus autocomplete="off" class="search" id="search" style="height: 52px" placeholder="Search Equinox Apps" required />
			<button type="submit" class="submit-button">
				<i class="fas fa-search searchicon"></i>
			</button>
		</form>
		<div class="right-section">
			<a class="nav-btn" href="/s"
				style="display: flex; justify-content: flex-end; margin-left: auto;">Settings</a>
			<a id="time" class="nav-btn"
				style="display: flex; justify-content: flex-end; margin-left: auto;">00:00PM</a>
		</div>
	</div>
	<div id="align">
		<iframe id="ifr"></iframe>
	</div>
	<div class="games-body">
		<h3 class="category-heading" id="feat-text"><img class="promo-img" src="/assets/eqfeatured.png"></h3>

		<div class="games" id="featured">
			<div id="f" class="game-container" data-href="https://netflix.com">
				<div class="game">
					<img
						src="https://media.discordapp.net/attachments/1165659118581854371/1208595367952646176/netflix_1.png?ex=65e3db26&is=65d16626&hm=ce44618d556250c1c239aacd3ecdd8d6b15d682dba2074469d4cfb8e2ac911c1&=&format=webp&quality=lossless">
					<h2>Netflix</h2>

				</div>
			</div>
			<div id="f" class="game-container" data-href="https://youtube.com">
				<div class="game">
					<img
						src="https://media.discordapp.net/attachments/1165659118581854371/1208594856692424804/youtube_2.png?ex=65e3daac&is=65d165ac&hm=025e5c62b82efeb09b12d262e71403eb7bd15f1208cc20fe7685d74de6cc9899&=&format=webp&quality=lossless">
					<h2>YouTube</h2>

				</div>
			</div>
			<div id="f" class="game-container" data-href="https://twitch.tv">
				<div class="game">
					<img src="https://media.discordapp.net/attachments/1165659118581854371/1208595059491217408/twitch.png?ex=65e3dadc&is=65d165dc&hm=95df7a8f9112028433318959a6e4227be9b77d4faeef1d61a0a8ed31424252a1&=&format=webp&quality=lossless">
					<h2>Twitch</h2>
				</div>
			</div>
		</div>

		<h3 class="category-heading" id="recent-txt"><img class="recent-img" src="/assets/eqrecent.png"></h3>

		<div class="games" id="recent">
			<div class="game-container" data-href="https://binbashbanana.github.io/webretro/">
				<div class="game">
					<img
						src="https://media.discordapp.net/attachments/1165659118581854371/1208596297993420901/webret.png?ex=65e3dc04&is=65d16704&hm=15e1d7ee9bdc89097349a69a28c52ef1216999decfe3856b05ba2103dba26d4c&=&format=webp&quality=lossless">
					<h2>WebRetro</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://tiktok.com/">
				<div class="game">
					<img
						src="https://media.discordapp.net/attachments/1165659118581854371/1208595952072523786/tiktok.png?ex=65e3dbb1&is=65d166b1&hm=67b904627cee30c97ba2731e388a21988c5e07d2a7601363688333b8ab6823e1&=&format=webp&quality=lossless">
					<h2>TikTok</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://www.mathway.com/Algebra">
				<div class="game">
					<img
						src="https://yt3.googleusercontent.com/ytc/AIf8zZR4J1HzO6qcn88_BcaPQK1wnbvs8tuu6h4Q_lOoLw=s900-c-k-c0x00ffffff-no-rj">
					<h2>Mathway</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://google.com">
				<div class="game">
					<img src="https://expresswriters.com/wp-content/uploads/2015/09/google-new-logo-450x450.jpg">
					<h2>Google</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://xbox.com/play">
				<div class="game">
					<img
						src="https://cdn-1.webcatalog.io/catalog/xbox-cloud-gaming/xbox-cloud-gaming-icon-filled-256.png?v=1675596723649">
					<h2>Xbox Cloud Gaming</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://play.geforcenow.com">
				<div class="game">
					<img
						src="https://play-lh.googleusercontent.com/vobh63LuLl3B59tlHTCrSdpWzH0b_IfOsOtpVFaLK-hNQnJiWntiUgQpnhlKeIeYXBM">
					<h2>GeForce Now</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://facebook.com">
				<div class="game">
					<img src="https://static-00.iconduck.com/assets.00/facebook-icon-512x512-seb542ju.png">
					<h2>Facebook</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://pinterest.com">
				<div class="game">
					<img src="https://static-00.iconduck.com/assets.00/pinterest-icon-2048x2048-d7p0u7c5.png">
					<h2>Pinterest</h2>
				</div>
			</div>

		</div>
	</div>
	<script src="/assets/js/proxy.js"></script>
	<script src="/assets/js/games.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
	<script src="/assets/js/functions.js"></script>
	<script type='text/javascript' src='//pl22191078.profitablegatecpm.com/10/4f/de/104fdeafb2e5efb53ca806fb837ff878.js'></script>
</body>

</html>