<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>New Tab</title>
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="/assets/css/games.css" />
	<meta name="robots" content="noindex, nofollow">
	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="/uv/uv.bundle.js"></script>
	<script src="/uv/uv.config.js"></script>

	<script src="/assets/js/index.js" defer></script>
	<script src="/assets/js/particles.js"></script>

	<script src="/assets/js/cursor.js" defer></script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-PC9KFJ31NH');
	</script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1551126437976866"
		crossorigin="anonymous"></script>


</head>

<body>
	<div class="loading-screen" id="loadingScreen">
		<img class="loading-image">
        <div class="loading-text">Loading requested site...</div>
		<progress class="loading-progress" value="0" max="100" ></progress>

    </div>
	<div class="topbar">

		<div class="left-buttons">

			<a id="exit" onclick="exit()" style="display: none">
				<span style="font-weight: bold;">Exit</span>
			</a>
			<a id="homebtn" href="/" class="<%= path === '/' ? 'nav-active' : 'nav-btn' %>"><span>Home</span></a>
			<a href="/a" class="<%= path === '/a' ? 'nav-active' : 'nav-btn' %>"><span>Apps</span></a>
			<a href="/g" class="<%= path === '/g' ? 'nav-active' : 'nav-btn' %>"><span>Games</span></a>
		</div>
		<form id="form" class="center-form">
			<input autofocus autocomplete="off" class="search" id="search" placeholder="Search Equinox Apps"
				required />
			<button type="submit" class="submit-button">
				<i class="fas fa-search searchicon"></i>
			</button>
		</form>
		<div class="right-section">
			<a class="nav-btn" href="/s"
				style="display: flex; justify-content: flex-end; margin-left: auto;">Settings</a>
			<a id="time" class="nav-btn"
				style="display: flex; justify-content: flex-end; margin-left: auto;">00:00PM</a>
		</div>
	</div>
	<div id="align" style="min-height: 100%;">
		<iframe id="ifr"></iframe>
	</div>
	<div class="games-body">

		<h3 class="category-heading" id="feat-text"><img class="promo-img" src="/assets/eqfeatured.png"></h3>

		<div class="games" id="featured">
		</div>
		<h3 class="category-heading" id="recent-txt"><img class="recent-img" src="/assets/eqrecent.png"></h3>
		<div class="games" id="recent">

		</div>
		<br><br>
		<br><br>
	</div>
	<script src="/assets/js/proxy.js"></script>
	<script src="/assets/js/apps.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
	<script src="/assets/js/functions.js"></script>
	<script type='text/javascript'
		src='//pl22191078.profitablegatecpm.com/10/4f/de/104fdeafb2e5efb53ca806fb837ff878.js'></script>

</body>

</html>
