<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Equinox Credits</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/games.css" />
    <link rel="stylesheet" href="/assets/css/options.css" />
      <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PC9KFJ31NH');
  </script>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1551126437976866"
      crossorigin="anonymous"></script>
    <style>
        .credit-item {
    border: 0.4px solid #3333338c;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    height: 120px;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #111111;
    margin-right: 20px;
    background-size: cover;
    background-position: center center;
}
    </style>
</head>

<body style="background-image: none">
    <div class="topbar" style="justify-content: space-around; width: 30%">

        <a href="/a" class="<%= path === '/a' ? 'nav-active' : 'nav-btn' %>"><span>Apps</span></a>
        <a id="homebtn" href="/" class="<%= path === '/' ? 'nav-active' : 'nav-btn' %>"><span>Home</span></a>
        <a href="/g" class="<%= path === '/g' ? 'nav-active' : 'nav-btn' %>"><span>Games</span></a>

    </div>

    <div class="games-body">
        <h3 class="category-heading" id="recent-txt"><img class="recent-img" src="https://raw.githubusercontent.com/wrndxyz/cdn/main/assets/eqcreds.png" style="padding-left: 10px"></h3>
        <article class="card" style="height: 80%">
            <article class="grid">
                <div class="credit-item" style="height: 190px">
                    <div class="profile-picture" style="background-image: url('https://avatars.githubusercontent.com/u/106162244?v=4'); height: 90px; width: 90px"></div>
                    <div class="credit-info">
                        <div class="title">
                            wrownd
                            <p>Project Lead, Creative & Technical Director, Lead of Development</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="credit-item">
                    <div class="profile-picture" style="background-image: url('https://github.com/GalacticNetwork/a1rplay/blob/main/A1R.png?raw=true');"></div>
                    <div class="credit-info">
                        <div class="title">
                            a1rplay
                            <p>Provided many of the game sources we have on the site.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="credit-item">
                    <div class="profile-picture" style="background-image: url('https://raw.githubusercontent.com/wrndxyz/cdn/main/assets/gn (1).png');"></div>
                    <div class="credit-info">
                        <div class="title">
                            GNHUSTGames
                            <p>Provided many games on the site.</p>
                        </div>
                    </div>
                </div>                
            </article>
            <article class="grid">

                
                <div class="credit-item" style="height: 180px">
                    <div class="profile-picture" style="background-image: url('https://raw.githubusercontent.com/wrndxyz/cdn/main/assets/wr.png');"></div>
                    <div class="credit-info">
                        <div class="title">
                            Equinox Proxy
                            <p>Copyright &copy; WRND 2024 | Equinox and its assets are the intellectual property of WRND and are protected by applicable laws.</p>
                        </div>
                    </div>
                </div>
                
            </article>
            </article>
            

    </div>
    </div>

</body>

</html>
