<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>New Tab</title>
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="/assets/css/games.css" />

	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="/uv/uv.bundle.js"></script>
	<script src="/uv/uv.config.js"></script>

	<script src="/assets/js/index.js" defer></script>
	<script src="/assets/js/particles.js"></script>
	<script type='text/javascript' src='//pl22191568.profitablegatecpm.com/b6/e0/ec/b6e0ec54dbf936acd1402f566ddcd6c3.js'></script>
	<script src="/assets/js/cursor.js" defer></script>
	  <!-- Google tag (gtag.js) -->
	  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
	  <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
	
		gtag('config', 'G-PC9KFJ31NH');
	  </script>
	      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1551126437976866"
		  crossorigin="anonymous"></script>
	

</head>

<body>
	<div class="topbar">

		<div class="left-buttons">

			<a id="exit" onclick="exit()" style="display: none">
				<span style="font-weight: bold;">Exit</span>
			</a>
			<a id="homebtn" href="/" class="<%= path === '/' ? 'nav-active' : 'nav-btn' %>"><span>Home</span></a>
			<a href="/a" class="<%= path === '/a' ? 'nav-active' : 'nav-btn' %>"><span>Apps</span></a>
			<a href="/g" class="<%= path === '/g' ? 'nav-active' : 'nav-btn' %>"><span>Games</span></a>
		</div>
		<form id="form" class="center-form">
			<input autofocus autocomplete="off" class="search" id="search" placeholder="Search Equinox Games"
				required />
			<button type="submit" class="submit-button">
				<i class="fas fa-search searchicon"></i>
			</button>
		</form>
		<div class="right-section">
			<a class="nav-btn" href="/s"
				style="display: flex; justify-content: flex-end; margin-left: auto;">Settings</a>
			<a id="time" class="nav-btn"
				style="display: flex; justify-content: flex-end; margin-left: auto;">00:00PM</a>
		</div>
	</div>
	<div id="align" style="min-height: 100%;">
		<iframe id="ifr"></iframe>
	</div>
	<div class="games-body">

		<h3 class="category-heading" id="feat-text"><img class="promo-img" src="/assets/eqfeatured.png"></h3>

		<div class="games" id="featured">
			<div id="f" class="game-container" data-href="https://www.xbox.com/en-US/play/games/fortnite/BT5P2X999VH2">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/fortnite.png">
					<h2>Fortnite</h2>
				</div>
			</div>
			<div id="f" class="game-container" data-href="https://nowgg.me/apps/roblox-corporation/5349/roblox.html">
				<div class="game">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6f1dc4ca-b359-495f-94e4-95490a87a44a/df205em-409324ba-54a2-4975-acfa-98437b23704c.png/v1/fill/w_400,h_400,q_80,strp/roblox_icon_by_kapithecat_df205em-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDAwIiwicGF0aCI6IlwvZlwvNmYxZGM0Y2EtYjM1OS00OTVmLTk0ZTQtOTU0OTBhODdhNDRhXC9kZjIwNWVtLTQwOTMyNGJhLTU0YTItNDk3NS1hY2ZhLTk4NDM3YjIzNzA0Yy5wbmciLCJ3aWR0aCI6Ijw9NDAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.IT140zJJeztkx33COc21goFSQVnn-0_QZMwK6X4N9Nc">
					<h2>Roblox</h2>
				</div>
			</div>
			<div id="f" class="game-container" data-href="https://play.geforcenow.com/games?game-id=cb2b1b5f-54ba-45fd-9839-96bbfe1376cd&lang=en_US&asset-id=01_0dd590e2-4d39-4b7f-804a-ae30330af836">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/apexlegends.png">
					<h2>Apex Legends</h2>
				</div>
			</div>
			<div id="f" class="game-container" data-href="gtx.learntherisks.site/games/1v1.lol/index.html">
				<div class="game">
					<img src="https://yt3.googleusercontent.com/nqd64OgJUuxi0_uTUUeyq7y0-2mtewFKodyBR-BzlKQsupSHIkkHcs-BTAwS_4Ew9A_G4Ih1=s900-c-k-c0x00ffffff-no-rj">
					<h2>1v1.lol</h2>
				</div>
			</div>
			<div id="f" class="game-container" data-href="https://gnhustgames.github.io/monkeymart/">
				<div class="game">
					<img src="https://gnhustgames.github.io/assets/imageGame/monkeymart.webp">
					<h2>Monkey Mart</h2>
				</div>
			</div>
			<div id="f" class="game-container" data-href="https://radon.games/cdn/unity.html?id=slope">
				<div class="game">
					<img src="https://www.jimbelushi.ws/unblocked-games/wp-content/uploads/2023/07/slope-game.webp">
					<h2>Slope</h2>
				</div>
			</div>
			<div id="f" class="game-container" data-href="https://ducklife.online/duck-life-2.embed">
				<div class="game">
					<img
						src="https://img.poki.com/cdn-cgi/image/quality=78,width=600,height=600,fit=cover,f=auto/f2431276-8a98-4214-9a88-d0ea91fe0af2.png">
					<h2>Duck Life 2</h2>
				</div>
			</div>
			<div id="f" class="game-container" data-href="https://dddavit.github.io/subway/">
				<div class="game">
					<img src="https://assets-prd.ignimgs.com/2023/03/01/subwaysurfers-1677630205274.jpg">
					<h2>Subway Surfers</h2>
				</div>
			</div>
			<div id="f" class="game-container" data-href="https://totaljerkface.com/happy_wheels.tjf">
				<div class="game">
					<img
						src="https://play-lh.googleusercontent.com/SV8RsV5udSeeONjatT5SwleP6lzV6PjtNPs2VvyohJXWSG9fFLNOfslDEHbpDN337wQ">
					<h2>Happy Wheels</h2>
				</div>
			</div>

		</div>
		<h3 class="category-heading" id="recent-txt"><img class="recent-img" src="/assets/eqrecent.png"></h3>
		<div class="games" id="recent">
			<div id="r" class="game-container" data-href="https://retrobowl.me/iframe/retro-bowl/latest.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/retro-bowl.jpg">
					<h2>Retro Bowl</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/moto-x3m/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/moto-x3m.jpg">
					<h2>Moto X3M</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/motox3m2/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/motox3m2.jpg">
					<h2>Moto X3M 2</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://smashkarts.io/">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/smash-karts.jpg">
					<h2>Smash Karts</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/drive-mad/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/drive-mad.jpg">
					<h2>Drive Mad</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/basketball-stars/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/basketball-stars.jpg">
					<h2>Basketball Stars</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/stickman-hook/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/stickman-hook.jpg">
					<h2>Stickman Hook</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/drift-hunters/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/drifthunters.jpg">
					<h2>Drift Hunters</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/stickman-golf/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/stickman-golf.png">
					<h2>Stickman Golf</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/cluster-rush/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/cluster-rush.png">
					<h2>Cluster Rush</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/rooftop-snipers/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/rooftopsnipers.jpg">
					<h2>Rooftop Snipers</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://shellshock.io/">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/shell-shockers.jpg">
					<h2>Shell Shockers</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/papaspizzaria/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/papaspizzaria.jpg">
					<h2>Papas Pizzaria</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/stickman-boost/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/stickman-boost.jpg">
					<h2>Stickman Boost</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://flappy-bird.co/game/flappy-bird/">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/flappy-bird.jpg">
					<h2>Flappy Bird</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/madalin-stunt-cars-2/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/madalin-stunt-cars-2.jpg">
					<h2>Madalin Stunt Cars 2</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/sm64/index.html">
				<div class="game">
					<img src="https://media.discordapp.net/attachments/1165659118581854371/1208619269613428857/sm62.png?ex=65e3f168&is=65d17c68&hm=0d8409e9d3b56277abd258b2a99b5a38b344a28f2cef7a42c74367d302857728&=&format=webp&quality=lossless">
					<h2>Super Mario 64</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/jetpack-joyride/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/jetpack-joyride.jpg">
					<h2>Jetpack Joyride</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/swerve/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/swerve.jpg">
					<h2>Swerve</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/snake/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/snake.jpg">
					<h2>Snake</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/zombsroyale/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/zombsroyale.jpg">
					<h2>Zombs Royale</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/sushi-unroll/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/sushi-unroll.png">
					<h2>Sushi Unroll</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/crossyroad/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/crossy-road.jpg">
					<h2>Crossy Road</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/wordle/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/wordle.png">
					<h2>Wordle</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/google-solitaire/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/solitaire.jpg">
					<h2>Solitaire</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/zelda/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/zelda.jpg">
					<h2>Zelda</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/angry-birds/index.html">
				<div class="game">
					<img src="https://upload.wikimedia.org/wikipedia/en/2/2d/Angry_Birds_promo_art.png">
					<h2>Angry Birds</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/bad-piggies/index.html">
				<div class="game">
					<img src="https://upload.wikimedia.org/wikipedia/en/5/51/Bad_Piggies.png">
					<h2>Bad Piggies</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/dl5/index.html">
				<div class="game">
					<img src="https://play-lh.googleusercontent.com/JQqSn7wuCj0SxBqpBThNI33qCR9gwY0str2TIAnu-m_xrVCgZk3IPxYK2S7zC9WG0ig">
					<h2>Duck Life 5</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/clicker-heroes/index.html">
				<div class="game">
					<img src="https://kizicdn.com/system/static/thumbs/big_tile_thumb/1410/thumb300_Clicker-Heroes.jpg?1556202083">
					<h2>Clicker Heroes</h2>
				</div>
			</div>

			
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/vex7/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/vex7.jpeg">
					<h2>Vex 7</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/vex6/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/vex6.jpeg">
					<h2>Vex 6</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/vex5/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/vex5.jpg">
					<h2>Vex 5</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/vex4/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/vex4.jpg">
					<h2>Vex 4</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://cdn.wrnd.lat/game/vex3/index.html">
				<div class="game">
					<img src="https://cdn.wrnd.lat/assets/vex3.jpg">
					<h2>Vex 3</h2>
				</div>
			</div>


			<div id="r" class="game-container" data-href="https://radon.games/cdn/html/2048/index.html">
				<div class="game">
					<img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/2048_logo.png?20140521230317">
					<h2>2048</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://chess.com">
				<div class="game">
					<img
						src="https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/d8/f3/e2/d8f3e258-cb6e-0d9a-ae58-c29edfe4b4e5/AppIcon-1x_U007emarketing-0-7-0-0-85-220-0.png/1024x1024.jpg">
					<h2>Chess</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/blockpost/">
				<div class="game">
					<img src="https://gnhustgames.github.io/assets/imageGame/blockpost.webp">
					<h2>Blockpost</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/paperio/">
				<div class="game">
					<img src="https://gnhustgames.github.io/assets/imageGame/paperio.jpg">
					<h2>Paper.io</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/holeio/">
				<div class="game">
					<img
						src="https://www.jopi.com/cdn-cgi/image/quality=78,width=304,height=304,fit=cover,f=auto/img/t/hole-io.png">
					<h2>Hole.io</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/yohoho/">
				<div class="game">
					<img src="https://gnhustgames.github.io/assets/imageGame/yohoho.jpg">
					<h2>YoHoHo.io</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/boxingrandom/">
				<div class="game">
					<img src="https://play-lh.googleusercontent.com/ZuMoNX6xiIBRwdtSL-FN0xCdXyahk8SRaPZ5_4HzkdQEp2Tm_GAsha9OcsRoSDgSw8Y">
					<h2>Boxing Random</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/minesweeper/">
				<div class="game">
					<img src="https://play-lh.googleusercontent.com/ZQqNzIobFUXFO-IzPJaH5cv2QE9o7YpvooVWyTmaomxlBXfVwKjHWhYLALWLrohMrg">
					<h2>Minesweeper</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/tetris/">
				<div class="game">
					<img src="https://gnhustgames.github.io/assets/imageGame/tetris.jpeg">
					<h2>Tetris (Legacy)</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/templerun2/">
				<div class="game">
					<img src="https://gnhustgames.github.io/assets/imageGame/templerun2.png">
					<h2>Temple Run 2</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/pacman/">
				<div class="game">
					<img src="https://media.discordapp.net/attachments/1165659118581854371/1208823592083660860/frfk_2.png?ex=65e4afb3&is=65d23ab3&hm=190643c8fd31fb3ee3597ebc05ef8c682370623032eada223faf7d98ca9a7c13&=&format=webp&quality=lossless">
					<h2>Pacman</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/granny/">
				<div class="game">
					<img src="https://media.discordapp.net/attachments/1165659118581854371/1208619650577989682/sm62_1.png?ex=65e3f1c3&is=65d17cc3&hm=cd3ba1eee1f72e0bc4e385d139ead4659bbab5e868941cb6d1ef1362368f9ebb&=&format=webp&quality=lossless">
					<h2>Granny</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/learntofly2/">
				<div class="game">
					<img src="https://media.discordapp.net/attachments/1165659118581854371/1208823235488260216/learn2fly.png?ex=65e4af5e&is=65d23a5e&hm=862b9cf7477b5eda43cbdfe8eb646e2a820cc8646897bd117a1a4cc93286eeef&=&format=webp&quality=lossless">
					<h2>Learn 2 Fly</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/fireboy-watergirl-3/">
				<div class="game">
					<img src="https://media.discordapp.net/attachments/1165659118581854371/1208829191101882418/frfk_3.png?ex=65e4b4ea&is=65d23fea&hm=e8500f745e9a01eba9e3cbf828cf07cc709dad87ab09611d9284b1debf134439&=&format=webp&quality=lossless">
					<h2>Fireboy and Watergirl</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/friday-night-funkin/">
				<div class="game">
					<img src="https://media.discordapp.net/attachments/1165659118581854371/1208823392636243978/frfk_1.png?ex=65e4af83&is=65d23a83&hm=ee4b9bf22cb7d0e9c13a3615dd53444714659d1353b3ea77a7b0199f99c4f112&=&format=webp&quality=lossless">
					<h2>Friday Night Funkin'</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/bitlife/">
				<div class="game">
					<img src="https://gnhustgames.github.io/assets/imageGame/bitlife.png">
					<h2>BitLife</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/geometrydash/">
				<div class="game">
					<img src="https://upload.wikimedia.org/wikipedia/en/3/35/Geometry_Dash_Logo.PNG">
					<h2>Geometry Dash</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/clickercookie/">
				<div class="game">
					<img src="https://gnhustgames.github.io/assets/imageGame/clickercookie.png">
					<h2>Cookie Clicker</h2>
				</div>
			</div>
			<div id="r" class="game-container" data-href="https://gnhustgames.github.io/tunnelrush/">
				<div class="game">
					<img src="https://gnhustgames.github.io/assets/imageGame/tunnelrush.jpg">
					<h2>Tunnel Rush</h2>
				</div>
			</div>

		</div>
		<br><br>
		<br><br>
	</div>
	<script src="/assets/js/proxy.js"></script>
	<script src="/assets/js/games.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
	<script src="/assets/js/functions.js"></script>
	<script type='text/javascript' src='//pl22191078.profitablegatecpm.com/10/4f/de/104fdeafb2e5efb53ca806fb837ff878.js'></script>

</body>

</html>
