<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>New Tab</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/games.css" />
    <link rel="stylesheet" href="/assets/css/options.css" />
    <script src="/uv/uv.bundle.js"></script>
    <script src="/uv/uv.config.js"></script>

    <script src="/assets/js/index.js" defer></script>
    <script src="/assets/js/cursor.js" defer></script>
      <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PC9KFJ31NH');
  </script>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1551126437976866"
      crossorigin="anonymous"></script>

</head>

<body style="background-image: none">
    <div class="topbar">

        <div class="left-buttons">

            <a id="exit" onclick="exit()" style="display: none">
                <span style="font-weight: bold;">Exit</span>
            </a>
            <a id="homebtn" href="/" class="<%= path === '/' ? 'nav-active' : 'nav-btn' %>"><span>Home</span></a>
            <a href="/a" class="<%= path === '/a' ? 'nav-active' : 'nav-btn' %>"><span>Apps</span></a>
            <a href="/g" class="<%= path === '/g' ? 'nav-active' : 'nav-btn' %>"><span>Games</span></a>
        </div>
        <form id="form" class="center-form">
            <input autofocus autocomplete="off" class="search" id="search" placeholder="What's on your mind?"
                required />
            <button type="submit" class="submit-button">
                <i class="fas fa-search searchicon"></i>
            </button>
        </form>
        <div class="right-section">
            <a class="nav-btn" href="/s"
                style="display: flex; justify-content: flex-end; margin-left: auto;">Settings</a>
            <a id="time" class="nav-btn"
                style="display: flex; justify-content: flex-end; margin-left: auto;">00:00PM</a>
        </div>
    </div>

    <div class="games-body">
        <h3 class="category-heading" id="recent-txt"><img class="recent-img" src="/assets/eqsettings.png"></h3>
        <article class="card">
            <article class="grid gap-big">
                <div class="title">
                    Search and Security
                    <p>Settings related to Equinox Search</p>
                </div>
                <div class="grid col-2 gap-medium">
                    <fieldset>
                        <label>Select a search engine</label>
                        <select id="engine" class="input-group" name="engine">
                            <option value="google">Google</option>
                            <option value="duckduckgo">DuckDuckGo</option>
                            <option value="yahoo">Yahoo</option>
                        </select>
                    </fieldset>

                </div>
            </article>
            <article class="grid gap-big">
                <div class="title">
                    Site Preferences
                    <p>Settings related to the site you are viewing</p>
                </div>
                <div class="grid col-2 gap-medium">
                    <fieldset>
                        <label>Tab Cloaking</label>
                        <select id="cloak" class="input-group" name="cloak">
                            <option value="none">None</option>
                            <option value="google-drive">Google Drive</option>
                            <option value="google">Google</option>
                            <option value="google-docs">Google Docs</option>
                            <option value="home">Google Classroom</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label>Themes</label>
                        <select id="themes" class="input-group" name="themes">
                            <option value="default">Default</option>
                            <option value="flashbang">Flashbang</option>
                            <option value="kongrats">Kong Rats</option>
                            <option value="ocean">Ocean</option>
                        </select>
                    </fieldset>

                </div>

            </article>
            <article class="grid gap-big">
                <div class="title">
                    Version Information
                    <p>Information about what version of Equinox you're running.</p>
                </div>
                <fieldset>
                    <label>Version information</label>
                    <div class="input-group">
                        <span id="site-url">
                            v1.35 | Updated 2/15/24 | Public Build
                        </span>
                    </div>
                </fieldset>
            </article>
    </div>
    </div>
    <script src="/assets/js/proxy.js"></script>
    <script src="/assets/js/games.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
    <script src="/assets/js/settings.js"></script>
    <script type='text/javascript' src='//pl22191078.profitablegatecpm.com/10/4f/de/104fdeafb2e5efb53ca806fb837ff878.js'></script>
</body>

</html>
