<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Equinox Terms of Service</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/games.css" />
    <link rel="stylesheet" href="/assets/css/options.css" />
      <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PC9KFJ31NH');
  </script>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1551126437976866"
      crossorigin="anonymous"></script>
    <style>
        .credit-item {
    border: 0.4px solid #3333338c;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    height: 120px;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #111111;
    margin-right: 20px;
    background-size: cover;
    background-position: center center;
}
    </style>
</head>

<body style="background-image: none">
    <div class="topbar" style="justify-content: space-around; width: 30%">

        <a href="/a" class="<%= path === '/a' ? 'nav-active' : 'nav-btn' %>"><span>Apps</span></a>
        <a id="homebtn" href="/" class="<%= path === '/' ? 'nav-active' : 'nav-btn' %>"><span>Home</span></a>
        <a href="/g" class="<%= path === '/g' ? 'nav-active' : 'nav-btn' %>"><span>Games</span></a>

    </div>

    <div class="games-body">
        <h3 class="category-heading" id="recent-txt"><img class="recent-img" src="https://raw.githubusercontent.com/wrndxyz/cdn/main/assets/eqterms.png" style="padding-left: 10px"></h3>
        <article class="card" style="height: 400px">
            <article class="grid">
                <div class="credit-item" style="height: 100%; align-items: flex-start;">
                    <div class="credit-info" style="margin-top: 10px">
                        <div class="title" style="font-size: 24px">
                            Equinox Proxy Terms of Service
                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                            These Terms of Service ("Terms") constitute a legally binding agreement between you ("User," "you," or "your") and WRND ("Company," "we," "us," or "our") regarding your use of the Equinox proxy service ("Service").
                            By accessing or using the Service, you agree to be bound by these Terms. If you do not agree to these Terms, please do not use the Service.</p>
                            
                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                1. No Responsibility for Legal Troubles: The Company shall not be responsible for any legal troubles or issues at school or work that may arise from your use of the Service.</p>

                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                2. No Responsibility for Ad Content: The Company shall not be responsible for the content of any ads displayed on our site or through the Service.</p>

                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                3. No Responsibility for Data Transmission: The Company shall not be responsible for how your data is transmitted to other sources while using the Service.</p>

                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                4. Anonymous Usage: While using the Service, you are usually anonymous. However, please note that the Company may collect and store certain information about your system.</p>

                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                5. Right to Deny Access: The Company reserves the right to deny your system access to our services at any time without reason.</p>

                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                6. Use of Analytics: The Company reserves the right to use analytics tools to collect information about your use of the Service. This information helps us improve the Service and provide a better user experience.</p>

                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                7. Disclaimer of Warranties: THE SERVICE IS PROVIDED ON AN "AS-IS" BASIS WITHOUT ANY WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED. THE COMPANY DISCLAIMS ALL WARRANTIES, INCLUDING THE WARRANTY OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD-PARTY RIGHTS, AND FITNESS FOR A PARTICULAR PURPOSE.</p>

                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                8. Limitation of Liability: TO THE FULLEST EXTENT PERMITTED BY LAW, THE COMPANY SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR USE OR INABILITY TO USE THE SERVICE; (B) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SERVERS AND/OR ANY PERSONAL INFORMATION STORED THEREIN; (C) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SERVICE; (D) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE THAT MAY BE TRANSMITTED TO OR THROUGH OUR SERVICE BY ANY THIRD PARTY; (E) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE THROUGH THE SERVICE; AND/OR (F) USER CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY.</p>
                            
                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                9. Changes to Terms: The Company reserves the right to modify or replace these Terms at any time. If a revision is material, we will provide at least 3 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                10. Governing Law: These Terms shall be governed and construed in accordance with the laws of the United States, without regard to its conflict of law provisions.</p>

                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                11. Ownership of Games and Apps: The games, apps, and other content available through the Service are owned by their respective creators or licensors. The Company does not claim ownership over any games, apps, or content provided through the Service. Any questions or concerns regarding ownership or licensing of specific games or apps should be directed to the respective creators or licensors.</p>                               

                            <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                By using the Equinox proxy service, you agree to these Terms. If you do not agree with these Terms, please do not use the Service.</p>

                            <p style="font-size: 16px; color: rgb(126, 126, 126); line-height: 28px">
                                Last updated: 2/15/24</p>

       
                            </div>
                    </div>
                </div>
                
            </article>
            </article>
            

    </div>
    </div>
    <footer style="margin-top: auto">
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>
    </footer>

</body>

</html>
