html, body {
    overflow: hidden;
    background-color: #100f0f;
}

.alignment-container {
    height: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.logo-image {
    height: auto;
    z-index: 1;
    width: 150px;
    pointer-events: none;
    user-select: none
}

#spinning {
    animation: spin 24s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

#creation-info {
    color: #797979;
    font-weight: 500;
    font-size: 16px
}

.shortcuts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.shortcut-frame {
    flex-direction: row;
    display: flex;
    margin-left: 30px;
    margin-bottom: 15px
}

.game-container {
    width: 145px;
    margin: 10px;
    height: 250px;
    overflow: hidden;
    transition: width .3s;
    margin-right: -10px;
    height: 100px
}

.game {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 94px;
    border-radius: 10px;
    height: auto;
    background: #14131387;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -ms-backdrop-filter: blur(8px)
}

.game:hover img {
    transform: scale(1.1)
}

.game img {
    width: 100%;
    border-radius: 10px;
    height: 55%;
    transition: transform .3s
}