@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");


.games-body {
    overflow: auto;
    color: #d1d1d1;
    width: 100%;
	z-index: 1;
	background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Updated this line */
    font-family: 'Montserrat', sans-serif;
}

.loading-screen {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.932);
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(20px);
    align-items: center;
    z-index: 9999;
}

.loading-progress {
    height: 20px;
    width: 584px;
}



.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}


.loading-image {
    height: 150px;
    border-radius: 8px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    color: white;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.featured-container {
    width: 250px;
    margin: 10px;
    overflow: hidden; /* Add overflow to hide the overflowed content */
    transition: width 0.3s; /* Add transition for smooth animation */
}

.featured-img {
    height: 400px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 0.3s, filter 0.3s; /* Add filter transition */
}


.game-container {
    width: 145px;
    margin: 10px;
    height: 250px;
    overflow: hidden;
    transition: width 0.3s;
}


.games {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-items: flex-start;
    margin-left: 20px;
    justify-content: flex-start;
}

.featured-game {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}


.featured-hover-content {
    position: absolute;
    bottom: 20;
    left: 25%; /* Center horizontally */
    transform: translateX(-50%);
    text-align: left;
    opacity: 0;
    padding-left: 20px; /* Add padding to the left */
    transition: opacity 0.3s;
}

.featured-game:hover .featured-hover-content {
    opacity: 1;
}

.featured-hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none; /* Initially hidden */
    transition: transform 0.3s, filter 0.3s, opacity 0.3s; /* Add filter transition */
}

.featured-hover-img:hover {
    filter: brightness(0.6); /* Adjust brightness on hover */
}


.featured-hover-title {
    color: white;
    margin-bottom: 10px;
    padding-left: 20px;
    white-space: nowrap; /* Prevent text from wrapping */
	font-size: 40px;
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
}


.featured-hover-button {
    background-color: white;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
	font-weight: 600;
    font-size: 18px;
    cursor: pointer;
	margin-left: 20px; 
	margin-bottom: 20px;
}

.featured-game:hover .featured-img {
    opacity: 0; /* Hide original image on hover */
}

.featured-game:hover .featured-hover-img {
    display: block; /* Show hover image on hover */
    opacity: 1;
}


.promo-img {
    height: 28px;
}
.recent-img {
    height: 34px;
}

.category-heading {
    color: #2b75ff;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 24px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.title-heading {
    color: #2b75ff;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 28px;
    margin-left: 5px;
    display: flex;
	align-items: center;
    align-self: center;
}


/* Styles for individual games */
.game {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.game img {
	width: 100%;
	height: 55%;
	transition: transform 0.3s;
}


.game h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	color: white;
    font-weight: 500;
	background: rgba(8, 8, 8, 0.774);
	text-align: center;
	justify-content: center;
	transform: translateY(100%);
	transition: transform 0.3s;
}



/* Show title on hover */
.featured-game:hover .featured-text {
    transform: translateY(0);
}

.featured-container-wrapper {
    overflow: hidden;
    width: 250px; /* Initial width */
    transition: width 0.3s;
}

.featured-container:hover {
    width: 500px; /* Target width on hover */
}


.featured-game:hover .featured-container-wrapper {
    width: 500px;
}

.featured-game:hover .featured-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
	width: 100%;
	height: 100%;
    bottom: 0;
    background: rgb(0, 0, 0);
}

.featured-game:hover .featured-img {
    transform: scale(1.1);
    filter: blur(20px);
	filter: brightness(0.8);
}

.game:hover h2 {
	transform: translateY(0);
}


.game:hover img {
	transform: scale(1.1);
}

.featured-game:hover img {
	transform: scale(0.9);
}

@media screen and (max-width: 1200px) {
	.games {
		max-width: 900px;
	}

	.game {
		flex-basis: calc(33.33% - 20px);
		margin: 10px 20px;
	}
}

@media screen and (max-width: 900px) {
	.games {
		max-width: 600px;
	}

	.game {
		flex-basis: calc(50% - 20px);
		margin: 10px 20px;
	}
}

@media screen and (max-width: 600px) {
	.game {
		flex-basis: calc(50% - 20px);
		margin: 10px 20px;
	}
}

@media screen and (max-width: 400px) {
	.game {
		flex-basis: calc(100% - 20px);
		margin: 10px;
	}
}

.search {
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border: none;
    transition: 0.5s;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

.search-bar input {
	width: 100%;
	padding: 5px 10px;
	height: 20px;
	border-radius: 5px;
	border: none;
}

#formm {
    background: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 17px;
    height: 52px;
	z-index: 200;
    border: 1px solid rgba(253, 253, 253, 0.295);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 600px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 12px;
    color: #fff;
    transition: border-radius 0.1s;
}