<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Equinox Credits</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/games.css" />
    <link rel="stylesheet" href="/assets/css/options.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PC9KFJ31NH');
    </script>

    <style>
        .credit-item {
            border: 0.4px solid #3333338c;
            border-radius: 10px;
            padding: 15px;
            display: flex;
            align-items: center;
            height: 120px;
        }

        .profile-picture {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #111111;
            margin-right: 20px;
            background-size: cover;
            background-position: center center;
        }
    </style>
</head>

<body style="background-image: url(./assets/img/eq-main.jpg)">
    <div class="topbar" style="justify-content: right; margin-top: 10px;">
        <div class="right-section" style="gap: 20px;">
            <a id="games" href="/" class="<%= path === '/gm' ? 'nav-active' : 'nav-btn' %>">
                <span><i class="fas fa-home"></i> Home</span>
            </a>
            <a id="games" href="https://hydragames.cc/x" class="<%= path === '/gm' ? 'nav-active' : 'nav-btn' %>">
                <span><i class="fas fa-gamepad"></i> Games</span>
            </a>
            <a id="util" href="/ut" class="<%= path === '/ut' ? 'nav-active' : 'nav-btn' %>">
                <span><i class="fas fa-wrench"></i>Utilities</span>
            </a>
            <a class="<%= path === '/op' ? 'nav-active' : 'nav-btn' %>" id="settings" href="/op"
                style="display: flex; justify-content: flex-end; margin-left: auto;">
                <span><i class="fas fa-cog"></i> Settings</span>
            </a>
        </div>
    </div>
    <div class="alignment-container" style="margin-top: 5%">

        <div class="header-container">


            <div class="games-body">

                <article class="card" style="height: 80%">

                    <article class="grid">


                        <div class="credit-item" style="height: 190px">
                            <div class="profile-picture"
                                style="background-image: url('https://avatars.githubusercontent.com/u/106162244?v=4'); height: 90px; width: 90px">
                            </div>
                            <div class="credit-info">
                                <div class="title">
                                    wrownd
                                    <p>Project Lead, Creative & Technical Director</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="credit-item">
                            <div class="profile-picture"
                                style="background-image: url('https://hydragames.cc/img/hydra.svg'); height: 20px">
                            </div>
                            <div class="credit-info">
                                <div class="title">
                                    Hydra Games
                                    <p>Our official 3rd party for games on Equinox</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="credit-item" style="height: 180px">
                            <div class="profile-picture"
                                style="background-image: url('https://raw.githubusercontent.com/wrndxyz/cdn/main/assets/wr.png');">
                            </div>
                            <div class="credit-info">
                                <div class="title">
                                    Equinox Proxy
                                    <p>Copyright &copy; WRND 2024 | Equinox and its assets are the intellectual property
                                        of WRND
                                        and are protected by applicable laws.</p>
                                </div>
                            </div>
                        </div>


                    </article>

                </article>


            </div>

        </div>
        <script>
            (function (fsv) {
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = fsv || {};
                s.src = "\/\/glum-mortgage.com\/aPWk5.whY\/WndzlKQj2E9KkTZ\/TT9T6cbN2Y5ElOSTW\/Q_9aN-TiMn0jNwTSYkxeNfyT0h1IMxzdQo1iN\/jhEi4D";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
            })({})
        </script>
        <script>
                (function (riedg) {
                    var d = document,
                        s = d.createElement('script'),
                        l = d.scripts[d.scripts.length - 1];
                    s.settings = riedg || {};
                    s.src = "\/\/handmadetip.com\/c\/D_9.6QbY2\/5EllSFWxQ\/9\/N\/TaMF0KNNTUYCxpO\/SB0h1rM-z\/Qm1\/N\/jaIrww";
                    s.async = true;
                    s.referrerPolicy = 'no-referrer-when-downgrade';
                    l.parentNode.insertBefore(s, l);
                })({})
        </script>
        <script>
                (function (mli) {
                    var d = document,
                        s = d.createElement('script'),
                        l = d.scripts[d.scripts.length - 1];
                    s.settings = mli || {};
                    s.src = "\/\/glum-mortgage.com\/bEXEVTs.dUGDl\/0lYxW\/cK\/sesmm9wukZ\/U\/lEkHPPTZUrz-NizrYi0gOhDjQStzNuT-M\/3WN\/jrQv4zNsQo";
                    s.async = true;
                    s.referrerPolicy = 'no-referrer-when-downgrade';
                    l.parentNode.insertBefore(s, l);
                })({})
        </script>
</body>

</html>