<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Equinox TOS</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/games.css" />
    <link rel="stylesheet" href="/assets/css/options.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC9KFJ31NH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PC9KFJ31NH');
    </script>

    <style>
        .credit-item {
            border: 0.4px solid #3333338c;
            border-radius: 10px;
            padding: 15px;
            display: flex;
            align-items: center;
            height: 120px;
        }

        .profile-picture {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #111111;
            margin-right: 20px;
            background-size: cover;
            background-position: center center;
        }
    </style>
</head>

<body style="background-image: url(./assets/img/eq-main.jpg)">
    <div class="topbar" style="justify-content: right; margin-top: 10px;">
        <div class="right-section" style="gap: 20px;">
            <a id="games" href="/" class="<%= path === '/gm' ? 'nav-active' : 'nav-btn' %>">
                <span><i class="fas fa-home"></i> Home</span>
            </a>
            <a id="games" href="https://hydragames.cc/x" class="<%= path === '/gm' ? 'nav-active' : 'nav-btn' %>">
                <span><i class="fas fa-gamepad"></i> Games</span>
            </a>
            <a id="util" href="/ut" class="<%= path === '/ut' ? 'nav-active' : 'nav-btn' %>">
                <span><i class="fas fa-wrench"></i>Utilities</span>
            </a>
            <a class="<%= path === '/op' ? 'nav-active' : 'nav-btn' %>" id="settings" href="/op"
                style="display: flex; justify-content: flex-end; margin-left: auto;">
                <span><i class="fas fa-cog"></i> Settings</span>
            </a>
        </div>
    </div>
    <div class="alignment-container" style="margin-top: 1%">

        <div class="header-container">


            <div class="games-body">

                <article class="card" style="height: 80%">

                    <article class="grid">


                        <div class="credit-item" style="height: auto">
                            <div class="credit-info">
                                <div class="title">
                                    Equinox Proxy Terms of Service

                                    <p style="font-size: 16px; color: rgb(153, 153, 153); line-height: 28px">These Terms
                                        of Service ("Terms") constitute a legally binding agreement between you ("User,"
                                        "you," or "your") and WRND ("Company," "we," "us," or "our") regarding your use
                                        of the Equinox proxy service ("Service"). By accessing or using the Service, you
                                        agree to be bound by these Terms. If you do not agree to these Terms, please do
                                        not use the Service.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        1. No Responsibility for Legal Troubles: The Company shall not be responsible
                                        for any
                                        legal troubles or issues at school or work that may arise from your use of the
                                        Service.
                                    </p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        2. No Responsibility for Ad Content: The Company shall not be responsible for
                                        the
                                        content of any ads displayed on our site or through the Service.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        3. No Responsibility for Data Transmission: The Company shall not be responsible
                                        for how
                                        your data is transmitted to other sources while using the Service.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        4. Anonymous Usage: While using the Service, you are usually anonymous. However,
                                        please
                                        note that the Company may collect and store certain information about your
                                        system.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        5. Right to Deny Access: The Company reserves the right to deny your system
                                        access to
                                        our services at any time without reason.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        6. Use of Analytics: The Company reserves the right to use analytics tools to
                                        collect
                                        information about your use of the Service. This information helps us improve the
                                        Service
                                        and provide a better user experience.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        7. Disclaimer of Warranties: THE SERVICE IS PROVIDED ON AN "AS-IS" BASIS WITHOUT
                                        ANY
                                        WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED. THE COMPANY DISCLAIMS ALL
                                        WARRANTIES,
                                        INCLUDING THE WARRANTY OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD-PARTY
                                        RIGHTS, AND
                                        FITNESS FOR A PARTICULAR PURPOSE.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        8. Limitation of Liability: TO THE FULLEST EXTENT PERMITTED BY LAW, THE COMPANY
                                        SHALL
                                        NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE
                                        DAMAGES,
                                        OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR
                                        ANY LOSS
                                        OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR USE
                                        OR
                                        INABILITY TO USE THE SERVICE; (B) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR
                                        SERVERS
                                        AND/OR ANY PERSONAL INFORMATION STORED THEREIN; (C) ANY INTERRUPTION OR
                                        CESSATION OF
                                        TRANSMISSION TO OR FROM THE SERVICE; (D) ANY BUGS, VIRUSES, TROJAN HORSES, OR
                                        THE LIKE
                                        THAT MAY BE TRANSMITTED TO OR THROUGH OUR SERVICE BY ANY THIRD PARTY; (E) ANY
                                        ERRORS OR
                                        OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE INCURRED AS A RESULT OF THE
                                        USE OF
                                        ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE THROUGH
                                        THE
                                        SERVICE; AND/OR (F) USER CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL
                                        CONDUCT OF ANY
                                        THIRD PARTY.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        9. Changes to Terms: The Company reserves the right to modify or replace these
                                        Terms at
                                        any time. If a revision is material, we will provide at least 1 days' notice
                                        prior to
                                        any new terms taking effect. What constitutes a material change will be
                                        determined at
                                        our sole discretion.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        10. Governing Law: These Terms shall be governed and construed in accordance
                                        with the
                                        laws of the United States, without regard to its conflict of law provisions.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        11. Ownership of Games: The games, and other content available through
                                        the Service are owned by their respective creators or licensors. The Company
                                        does not
                                        claim ownership over any games, apps, or content provided through the Service.
                                        Any
                                        questions or concerns regarding ownership or licensing of specific games or apps
                                        should
                                        be directed to the respective creators or licensors.</p>

                                    <p style="font-size: 16px; color: rgb(214, 214, 214); line-height: 28px">
                                        By using the Equinox proxy service, you agree to these Terms. If you do not
                                        agree with
                                        these Terms, please do not use the Service.</p>

                                    <p style="font-size: 16px; color: rgb(126, 126, 126); line-height: 28px">
                                        Last updated: 8/11/24</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="credit-item" style="height: 180px">
                            <div class="profile-picture"
                                style="background-image: url('https://raw.githubusercontent.com/wrndxyz/cdn/main/assets/wr.png');">
                            </div>
                            <div class="credit-info">
                                <div class="title">
                                    Equinox Proxy
                                    <p>Copyright &copy; WRND 2024 | Equinox and its assets are the intellectual property
                                        of WRND
                                        and are protected by applicable laws. 0c34e7fe-37bf-4538-8775-16c65fd7adb1</p>
                                </div>
                            </div>
                        </div>


                    </article>

                </article>


            </div>

        </div>

        <script>
            (function (fsv) {
                var d = document,
                    s = d.createElement('script'),
                    l = d.scripts[d.scripts.length - 1];
                s.settings = fsv || {};
                s.src = "\/\/glum-mortgage.com\/aPWk5.whY\/WndzlKQj2E9KkTZ\/TT9T6cbN2Y5ElOSTW\/Q_9aN-TiMn0jNwTSYkxeNfyT0h1IMxzdQo1iN\/jhEi4D";
                s.async = true;
                s.referrerPolicy = 'no-referrer-when-downgrade';
                l.parentNode.insertBefore(s, l);
            })({})
        </script>
        <script>
                (function (riedg) {
                    var d = document,
                        s = d.createElement('script'),
                        l = d.scripts[d.scripts.length - 1];
                    s.settings = riedg || {};
                    s.src = "\/\/handmadetip.com\/c\/D_9.6QbY2\/5EllSFWxQ\/9\/N\/TaMF0KNNTUYCxpO\/SB0h1rM-z\/Qm1\/N\/jaIrww";
                    s.async = true;
                    s.referrerPolicy = 'no-referrer-when-downgrade';
                    l.parentNode.insertBefore(s, l);
                })({})
        </script>
        <script>
                (function (mli) {
                    var d = document,
                        s = d.createElement('script'),
                        l = d.scripts[d.scripts.length - 1];
                    s.settings = mli || {};
                    s.src = "\/\/glum-mortgage.com\/bEXEVTs.dUGDl\/0lYxW\/cK\/sesmm9wukZ\/U\/lEkHPPTZUrz-NizrYi0gOhDjQStzNuT-M\/3WN\/jrQv4zNsQo";
                    s.async = true;
                    s.referrerPolicy = 'no-referrer-when-downgrade';
                    l.parentNode.insertBefore(s, l);
                })({})
        </script>

</body>

</html>