<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Equinox V1</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/games.css" />
    <link rel="stylesheet" href="/assets/css/options.css" />

    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/uv/uv.bundle.js"></script>
    <script src="/uv/uv.config.js"></script>

    <script src="/assets/js/index.js" defer></script>
    <script src="/assets/js/cursor.js" defer></script>
 
 




</head>

<body>
    <div class="topbar">

        <div class="left-buttons">

            <a id="exit" onclick="exit()" style="display: none">
                <span style="font-weight: bold;">Exit</span>
            </a>
            <a id="homebtn" href="/" class="<%= path === '/' ? 'nav-active' : 'nav-btn' %>"><span>Home</span></a>
            <a href="/a" class="<%= path === '/a' ? 'nav-active' : 'nav-btn' %>"><span>Apps</span></a>
            <a href="/g" class="<%= path === '/g' ? 'nav-active' : 'nav-btn' %>"><span>Games</span></a>
        </div>
        <form id="form" class="center-form" style="margin-top: 15px">
            <input autofocus autocomplete="off" class="search" id="search" placeholder="What's on your mind?"
                required />
            <button type="submit" class="submit-button">
                <i class="fas fa-search searchicon"></i>
            </button>
        </form>
        <div class="right-section">
            <a class="nav-btn" href="/s"
                style="display: flex; justify-content: flex-end; margin-left: auto;">Settings</a>
            <a id="time" class="nav-btn"
                style="display: flex; justify-content: flex-end; margin-left: auto;">00:00PM</a>
        </div>
    </div>
    <svg height="100%" width="100%" style="position: fixed; z-index: 0;"></svg>


    <div class="games-body" style="align-items: center;">
        <h3 class="category-heading" id="feat-text"><img class="promo-img" src="/assets/equinox.png"></h3>
        <h2>This page is under construction.</h2>

    </div>
    <footer style="margin-top: auto">
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>
        <script type="text/javascript">
            atOptions = {
                'key': 'f0cbd755148aacdf2e56ed476baef188',
                'format': 'iframe',
                'height': 90,
                'width': 728,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/f0cbd755148aacdf2e56ed476baef188/invoke.js"></scr' + 'ipt>');
        </script>
    </footer>
    <script src="/assets/js/proxy.js"></script>
    <script src="/assets/js/games.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
</body>

</html>